<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerNews Clone</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Rohan's hacker news</h1>
    </header>
    <main>
        {{.Stories}}
    </main>
    <footer>
        <p>Powered by <a href="https://github.com/HackerNews/API" target="_blank">HackerNews API</a></p>
    </footer>

</body>
</html>
